{% extends "menu/header.html" %}
{% load static %}
{% block content %}
	{% load has_group %}
	{% if user.is_authenticated %}
	   <h3>Bienvenue sur notre arbre généalogique {{ user.username }}!</h3>
	   {% include 'menu/includes/search_box.html' %}
	   <table summary="list_people" border="1" id="people">
		   <thead><tr>
			   <th>Photo   </th>
			   <th>Nom complet   </th>
			   <th>Date de naissance   </th>
			   <th>Date de décès   </th>
			   <th>Compagnons   </th>
			   <th>Enfants   </th>
		   </tr></thead>
		   {% for individu in object_list %}
				<tr><td>
				 {% if individu.image %}
					<img src="{{ individu.image.url }}"  width="40" />
				 {% endif %}
				 </td>
					<td width="25%"><a href="/individu/{{individu.id}}">  {{ individu.last_name}} {{ individu.first_name }}</a></td>
					<td width="15%">{% if individu.date_of_birth is not none %}   {{ individu.nice_birthdate}} {%endif %}</td>
					<td width="15%">{% if individu.date_of_death is not none %}   {{ individu.nice_deathdate}} {%endif %}</td>
					<td width="20%">{% for relation in individu.get_spouses %}
							{% if individu.id == relation.parent1.id  %}
								 {% if not relation.parent2.private or request.user|has_group:"tree_admin" %}
									<a href="/individu/{{relation.parent2.id}}"> {{ relation.parent2}} </a> ,
								{% endif %}
							{% else %}
								{% if not relation.parent1.private or request.user|has_group:"tree_admin" %}
									<a href="/individu/{{relation.parent1.id}}"> {{ relation.parent1}} </a> ,
								{% endif %}
							{% endif %}{%endfor %}</td>
					<td width="20%">
						{% for child in individu.get_children %}
							{% if not child.child.private or request.user|has_group:"tree_admin" %}
								<a href="/individu/{{child.child.id}}"> {{ child.child}} </a> ,
						{% endif %}
							{%endfor %}</td>
					</td></tr>
		   {% endfor %}
		</table>
		{% include 'menu/includes/htmlsnippet.html' %}
	{% else %}
	  <p>Vous n'êtes pas connecté!</p>
	  <a href="{% url 'login' %}">Se connecter</a>
	{% endif %}
	{% endblock %}

