{% extends "menu/header.html" %}
{% block content %}
{% load has_group %}

<h4>{{form.instance.child}}</h4>
<body>
 <form method='POST' action=''>{% csrf_token %}
  {% if  form.instance.parent1 is None %}
     <p>Parent 1 (père) : {{ form.parent1 }}</p>
  <p><a href="/individu/{{form.instance.child.id}}/add_parents/">Ajouter une nouvelle personne</a><p>
  {% elif not form.instance.parent1.private or request.user|has_group:"tree_admin" %}
  <p>Parent 1 (père) : {{ form.parent1 }}</p>
 <p><a href="/individu/{{form.instance.child.id}}/remove_parents/{{form.instance.parent1.id}}">Supprimer le lien de parenté</a><p>

  {% else %}
  <p> Parent 1 (père) : Vous n'avez pas les autorisations nécessaires ! </p>
  {% endif %}

  {% if form.instance.parent2 is None %}
     <p>Parent 2 (mère) : {{ form.parent2 }}</p>
  <p><a href="/individu/{{form.instance.child.id}}/add_parents/">Ajouter une nouvelle personne</a><p>
  {% elif not form.instance.parent2.private or request.user|has_group:"tree_admin" %}
  <p>Parent 2 (mère) : {{ form.parent2 }}</p>
 <p><a href="/individu/{{form.instance.child.id}}/remove_parents/{{form.instance.parent2.id}}">Supprimer le lien de parenté</a><p>
  {% else %}
  <p> Parent 2 (mère) : Vous n'avez pas les autorisations nécessaires ! </p>
  {% endif %}

 <input type='submit' value='Valider' />
 </form>



</body>

{% endblock %}
