{% extends "menu/header.html" %}
{% block content %}
    {% load has_group %}
    {% load startswith %}
    <body>
         {% include 'menu/reload_places.html' %}
         {% include 'menu/reload_individuals.html' %}
         <table>
            <td>
                <form method='POST' action=''>{% csrf_token %}
                    Relation :
                    {% for field in form %}
                        <div class="fieldWrapper">
                            <p>{{ field.errors }}</p>
                            {% if field.name|startswith:'parent2' and field.value is not None %}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ form.instance.parent2.first_name }} {{ form.instance.parent2.last_name }}</p>
                            {% elif field.name|startswith:'parent1' and field.value is not None %}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ form.instance.parent1.first_name }} {{ form.instance.parent1.last_name }}</p>
                            {% elif field.name|startswith:'parent' and field.value is None%}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ field }} </p>
                                <a href="menu/individual_add" target="_blank">Ajouter un nouvel individu</a>
                            {% elif field.name|startswith:'place' %}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ field }} </p>
                                <a href="menu/add_location" target="_blank">Ajouter un lieu</a>
                            {% else %}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ field }} </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type='submit' value='Enregistrer' name="save"/>
                </form>
            </td>
         </table>
    </body>
{% endblock %}
