{% extends "menu/header.html" %}
{% block content %}
    {% load static %}
    {% load has_group %}
    <h1>Lieu : {{ location.country }} {{ location.city }}</h1>
    <p><h10> Créé le {{ location.date_of_creation }} par {{ location.user_who_created }} </h10>  </p>
    <p><h10> Mis à jour le {{ location.date_of_last_update }} par {{ location.user_who_last_updated }} </h10>  </p>
    <table summary="detail_place" border="1" id="detail">
        <tr><td width="400px">
            <p><strong>Pays :</strong>  {{ location.country }} </p>
            <p><strong>Ville / Commune :</strong> {% if location.city is not none %}{{ location.city }}{%endif %} </p>
            <p><strong>{% if location.country == 'France' %} Département :
                        {% elif location.country == 'Algérie' %} Wilaya :
                        {% elif location.country == 'Allemagne' %} District :
                        {% elif location.country == 'Espagne' %} Province :
                        {% elif location.country == 'Grande-Bretagne' %} Comté :
                        {% elif location.country == 'Italie' %} Région :
                        {% elif location.country == 'Maroc' %} Région :
                        {% elif location.country == 'Méxique' %} Etat :
                        {% elif location.country == 'Pologne' %} Powiat (District) :
                        {% elif location.country == 'Prusse' %} Province :
                        {% else  %} Région / Province :
                        {%endif %}
                </strong>{% if location.department is not none %}{{ location.department }}{%endif %} </p>
                    <p><strong>Eglise / arrondissement :</strong> {% if location.church is not none %}{{ location.church }}{%endif %} </p>
                    <p><a href="/lieu/{{location.id}}/update/">Modifier les données</a></p>
        </td></tr></table>
            {% if request.user|has_group:"tree_admin" or request.user == location.user_who_created  %}
                <p><a href="/lieu/{{location.id}}/delete/">Supprimer cet endroit</a></p>
            {% endif %}
        {% include 'menu/includes/htmlsnippet.html' %}
{% endblock %}
