{% extends "menu/header.html" %}
{% block content %}
    {% load has_group %}
    {% load startswith %}
    <body>
        {% include 'menu/reload_places.html' %}
        <table>
            <td>
                <form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
                    Relation :
                    {% for field in form %}
                        <div class="fieldWrapper">
                            <p>{{ field.errors }}</p>
                            {% if field.name|startswith:'parent' and field.value is None%}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ field }} </p>
                                <a href="menu/add_partner/" >Ajouter un(e) partenaire</a>
                            {% elif field.name|startswith:'place' %}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ field }} </p>
                                <a href="menu/add_location" target="_blank">Ajouter un lieu</a>
                            {% else %}
                                <p id="form_{{field.name}}"> {{ field.label_tag }} {{ field }} </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type='submit' value='Enregistrer' name="save"/>
                </form>
                {% if request.user|has_group:"tree_admin"  %}
                    <p><a href="/individu/{{form.instance.id}}/delete_relation/">Supprimer la relation</a></p>
                {% endif %}
            </td>
        </table>
    </body>
{% endblock %}
