{% extends "menu/header.html" %}
{% block content %}

    {% if validlink %}
        <p>Entrez (ou confirmez) votre nouveau mot de passe.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nouveau mot de passe:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmez le mot de passe:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Changer le mot de passe" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Echec</h1>
        <p>Le lien n'est pas ou plus valide.</p>
    {% endif %}

{% endblock %}